[submodule "thirdparty/basalt-headers"]
	path = thirdparty/basalt-headers
	url = https://gitlab.com/VladyslavUsenko/basalt-headers
[submodule "thirdparty/ceres-solver"]
	path = thirdparty/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
